body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.scrollbar {
  width: 150px;
  overflow-x: scroll;
}

#userScroll {

  outline: #D3D3D3 solid 10px;
}
